# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.css text
*.example text
*.h text text
*.html text
*.ics text
*.ini text
*.js text
*.json text
*.jsonp text
*.load text
*.md text
*.map text
*.markdown text
*.py text
*.local text
*.sh text
*.xml text
rc.local text

# Declare files that will always have CRLF line endings on checkout.
# *.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.ico
*.pdf binary
*.woff binary
*.woff2 binary
*.svg binary
*.sqlite binary
*.ttf binary
*.eot binary
*.table binary

